/* BreakPoints   */

/* 1-  XS ===>  Smart Watch */

@media all and (width < 640px) {
    .xs-100 {
        width: 100%;
    }

}

/* ================================================================================================= */

/* 2-  SM ===> small Phones */

@media all and (640px <=width < 768px) {

    .ms-100 {
        width: 100%;
    }
}

/* ================================================================================================= */

/* 3-  Md ===>  Tablets */

@media all and (768px <=width < 1024px) {
    .md-50 {
        width: 50%;
    }
}

/* ================================================================================================= */



/* 4-  Lg ===>  Labtops    */

@media all and (1024px <=width < 1280px) {
    .lg-33 {
        width: 33.33%;
    }
}

/* ================================================================================================= */

/* 5-  Xl ===>   Large Lap */

@media all and (1280px <=width < 1536px) {
    .xl-25 {
        width: 25%;
    }
}

/* ================================================================================================= */

/* 6-  XXL ===>  Smart TV */

@media all and (1536px <=width) {
    .md-20 {
        width: 20%;
    }
}

/* ================================================================================================= */